################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppDTestProject/bin/Debug
/packages
/.vs/AppDTestProject/v16
/AppDTestProject/obj/Debug
